*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagenes/pelicula.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 9, 9, 0.815);
    padding: 25px;
    border-radius: 10px;
    color: orange;
}

main{
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 9, 9, 0.815);
    padding: 25px;
    border-radius: 10px;
    color: orange;
}

form{
    background-color: rgba(10, 9, 9, 0.815);
    padding: 25px;
    border-radius: 10px;
}

form h1{
    text-align: center;
    color: orange;
    margin-bottom: 20px;
}

form .input-wrapper{
    position: relative;
}

.captcha-registro{
    text-align: center;
    color: orange;
    margin-bottom: 20px;
}

form .input-wrapper input{
    padding: 12px 0px 12px 50px;
    margin-bottom: 15px;
    outline: none;
    font-size: 15px;
    border-radius: 12px;
}

form .input-wrapper i{
    position: absolute;
    margin-left: 20px;
    top: 14px;
    font-size: 20px;
    color: orange;
    transition: .3 ease;
}

form .input-wrapper:focus-within i{
    transform: scale(1.1);
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

button{
    padding: 10px 0;
    font-size: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: .3 ease, transform 0.25s ease;
}

button:hover{
    transform: translateY(-4px);
    background-color: orange;
    color: white;
}